/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/telescope
/public/vendor/web-tinker
/storage/*.key
/vendor
.env
.env.backup
.env.infinity
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper.php
/public/null
/.phpunit.cache
/null
/.github/copilot-instructions.md
/.junie/mcp/mcp.json
/.vercel
/api
/.vercelignore
/vercel.json
public/null
public/hot
.vite
git-cliff*
bin
*.sqlite
coverage
evaluator
htaccess
/public/vendor
/public/app
