@import './base.css';

html {
  font-size: 14px;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: rgb(9, 9, 9);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--p-primary-100);
  }
}

/* override / cancel when dark mode is active */
.dark a:hover,
.dark a {
  background-color: transparent;
  color: #ffffff;
}

.ql-code-block-container {
  background-color: #f0f0f0;
  padding: 2px 4px;
}

.v-sidebar-menu .vsm--mobile-bg {
  background-color: rgb(44, 44, 44) !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
    background: #6c6b6b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c6c4c4;
}

.dark ::-webkit-scrollbar-thumb {
    background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c9b9b;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #0c0c0c;
}

.p-datatable-column-header-content {
    font-weight: bold;
}
